html{
}
body{
	background: transparent url('./slike/ozadje.svg') no-repeat;
	background-size: cover;
	background-position: center top;
}
#GlavniOkvir{
	width: 1050px;
	height: 750px;
	display: flex;
	margin:0 auto 0 auto;
	background-color: #f1f2f3;
}
#Glava{
	width: 1050px;
	height: 200px;
    background: transparent url('./slike/glava.svg');
    background-repeat: no-repeat;
	background-size: cover; 
}
#Navigacija{
	width: 850px;
	height: 50px;
	margin:0 auto 0 auto;
	background-color: #052345;
}
#Navigacija ul{
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin: 200px;
	margin-left: 35px; 
}
nav li{
	display: inline-block;
	margin-left: 40px;
	padding-top: 25px;

	position: relative;
}
nav a{
	color: #f1f2f3;
	text-decoration: none;
	text-transform: uppercase;
}
nav a:hover{
	color: #000;
}
nav a::before{
	content: '';
	display: block;
	height: 5px;
	width: 100%;
	background-color: #f1f2f3;

	position: absolute;
	top: 0;
	width: 0%;

	transition: all ease-in-out 250ms;
}
nav a:hover::before{
	width: 100%;
}
#Vsebina{
	width: 950px;
	height: 350px;
	margin-left: 50px;
	margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
	align-items:flex-start;
}
#Clanek{
    width: 700px;
    height: 350px;
}
#Sorodno{
    height: 350px;
	width: 175px;
    box-sizing: border-box;
	align-self: center;
	background-color: #052345;
    border-radius: 15px;
	margin: 10px 0;
	padding: 15px;
	box-sizing: border-box;
	color: white;
}
#Noga{
	width: 950px;
	height: 50px;
	background-color: #052345;
	margin-left: 50px;
	margin-top: 25px;
	text-align: left;
	box-sizing:border-box;
	padding-top: 15px;
	padding-left: 10px;
	display: flex;
	color:white;
}
#NogaSorodno{
	width: 150px;
	height: 25px;
	margin-left: 800px;
	margin-bottom: 100px;
	display: flex;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
#FacebookTwitter {
    display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
    margin-left: 500px;
	
}
#FacebookTwitter a {
	margin-bottom: 8px;
	margin-left:5px;
}
#FacebookTwitter p {
	font-size: 14px;
	color: white;
}
#Tabela {
	width:700px;
	border-collapse: collapse;
	cursor: default;
	margin-top: 30px;
}
#Tabela td, #Tabela th {
	padding: 1px;
	box-sizing: border-box;
	border:#000 solid 1px;
	transition: background-color 2s ease;
}
#Tabela th {
	background-color:#CCC;
}
#Tabela tr:nth-child(even) td {
	background-color:#F7F7F7;
}
#Tabela tr:hover td {
    background-color:#EEE;
	transition: all 0.5s ease;
}
.SlikaVClanku{
	height: 180px;
	width: 300px;
	margin-left: 500px;
	display: flex;
	justify-content: flex-end;
}